
#navbar-mobile, 
.navigation-column {
    background-color: #e3f2fd;
}

/* desktop nav */

.data {
    list-style: none;
}

#code {
    display: block;
    padding: 20px;
    margin: 15px 0 15px 0;
    text-align: start;
    background-color: beige;
}

article {
    padding-left: 20px;
    margin: 15px 0 15px 0;
}

h2 {
    font-size: 1.5em;
    color: #2998e8;
}

@media (min-width: 768px) {
    .navigation-column {
        border-right: 2px solid rgb(193, 193, 193);
    }
}

@media (max-width: 768px) { 
    h2 {
        padding-top: 60px;
    }
}

/* added media for mobile to make the <a> tags visible */