
#navbar-mobile, 
.navigation-column {
    background-color: #e3f2fd;
}

/* desktop nav */

#navbar header,
#navbar .navbar-nav {
    position: fixed;
    top: 40px;
    left: 40px;
}

#navbar .navbar-nav {
    top: 80px;
    max-width: 150px;
    overflow: auto;
}

#navbarToggler {
    overflow-y: auto;
    max-height: 200px;                                                 
}

#main-doc {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.data {
    list-style: none;
}

#code {
    display: block;
    padding: 20px;
    margin: 15px 0 15px 0;
    text-align: start;
    background-color: beige;
}

article {
    padding-left: 20px;
    margin: 15px 0 15px 0;
}

h2 {
    font-size: 1.5em;
    color: hsl(205, 81%, 54%);
}

@media (min-width: 768px) {
    .navigation-column {
        border-right: 2px solid rgb(193, 193, 193);
    }

    .navbar-brand {
        white-space: unset;
    }
}
/* this helps the h1 text on the sidebar to not pop out when resizing the screen */

@media (max-width: 768px) { 
    h2 {
        padding-top: 60px;
    }
}
/* added media for mobile to make the <a> tags visible */

@media (min-width: 1600px) {
    #navbar .navbar-nav {
        max-width: unset;
    }
}
/* this fixed an issue, where the main-doc overlaps the fixed sidebar, before the breakpoint for small devices */