@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Poppins&display=swap');

body, html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #215677;
}

.bg-img {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 10px;
}

.container {
    position: relative;
    min-width: 300px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background: url(https://i.pinimg.com/originals/a1/a9/8d/a1a98d4ca1c581439c7576ee82723c89.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 0 35px #0E6782   
}

#navbar {
    position: fixed;
    background-color: #BE3144;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.logo {
    
    text-align: center;
    font-size: 22px;
    font-family: 'Permanent Marker', cursive;
    color: #F0F0F0;
    padding: 2px 20px;
    margin: 0 20px;
}

.logo > p {
    margin: 0 3px;
}

.nav-list {
    display: flex;
    list-style: none;  
    margin: 0;
}

li.nav-item {
    display: block;
    padding: 20px 50px;
}

li.nav-item > a {
    color: #F0F0F0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}


.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    padding-bottom: 20px;  
    text-align: center;  
}

h1 {
    color: #F0F0F0;
    font-size: 70px;
    font-family: 'Noto Sans JP', sans-serif;
}

.home > p {
    color: #F0F0F0;
    font-style: italic;
    font-size: 40px;
    font-family: 'Noto Sans JP', sans-serif;
}

@media only screen and (max-width: 622px) {
    .logo {
        display: none;
    }

    #navbar {
        display: flex;
        justify-content: space-around;
    }

    .nav-list {
        padding: 0px;
    }
}