@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

body, html {
    padding: 0;
    margin: 0;
}

.bg-img {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    -webkit-filter: blur(15px);
}

.container {
    position: relative;
    min-width: 300px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background: url(https://wallpaperplay.com/walls/full/9/0/9/159335.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 0 20px #0E6782   
}

#navbar {
    position: fixed;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
    
    text-align: center;
    font-size: 22px;
    font-family: 'Permanent Marker', cursive;
    padding: 2px 10px;
    margin: 0 20px;
}

.logo > p {
    margin: 0 3px;
}

.nav-list {
    display: flex;
    list-style: none;  
    margin: 0;
}

li.nav-item {
    display: block;
    padding: 20px 50px;
}


.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;   
}
@media only screen and (max-width: 622px) {
    .logo {
        display: none;
    }

    #navbar {
        display: flex;
        justify-content: space-around;
    }

    .nav-list {
        padding: 0px;
    }
}